hgroup {
    display: flex;
}

h2, h1 {
    font-family: monospace;
    font-size: 20px;
    text-align: center;
}

.carta {
    margin: 5px;
    background: url(../images/back.jpg);
    width: 228px;
    height: 320px;
    border: 0.1px solid;
}

.boton {
    display: flex;
    text-align: center;
    flex-flow: column;
    justify-content: center;
    width: 150px;
    height: 150px;
    font-family: fantasy;
    font-weight: bold;
    font-size: 2em;
    background: #1a257c;
    color: #eee;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.boton:nth-child(2) {
    background-color: #115314;
}

.boton:nth-child(2):hover {
    background-color: #1a801f;   
}

.boton:nth-child(2):active {
    background-color: #3ad441;
}

#rojo {
    background-color: #980707;
}

#rojo:hover {
    background-color: #a01616;
}

#rojo:active {
    background-color: #e50000;
}

input {
    text-align: center;
    font-size: 2em;
}

.boton:hover {
    background: #2e3a9a;
}

.boton:active {
    background: #3d4fe5;
}

.contenedor {
    margin: auto;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carta:hover {
    background: url(../images/cartas-compressor.png);
}

/*A*/
.corazon-1:hover {
    background-position: 0 0;
}

.picas-1:hover {
    background-position: 0 -310px;
}

.diamante-1:hover {
    background-position: 0 -625px;
}

.trebol-1:hover {
    background-position: 0 -940px;
}

/*dos*/

.co-5razon-2:hover {
    background-position: -230px 0;
}

.picas-2:hover {
    background-position: -230px -310px;
}

.diamante-2:hover {
    background-position: -230px -625px;
}

.trebol-2:hover {
    background-position: -230px -940px;
}

/*tres*/
.corazon-3:hover {
    background-position: -448px 0;
}

.picas-3:hover {
    background-position: -448px -310px;
}

.diamante-3:hover {
    background-position: -448px -625px;
}

.trebol-3:hover {
    background-position: -448px -940px;
}

/*cuatro*/

.corazon-4:hover {
    background-position: -670px 0;
}

.picas-4:hover {
    background-position: -670px -310px;
}

.diamante-4:hover {
    background-position: -670px -625px;
}

.trebol-4:hover {
    background-position: -670px -940px;
}

/*cinco*/

.corazon-5:hover {
    background-position: -903px 0;
}

.picas-5:hover {
    background-position: -903px -310px;
}

.diamante-5:hover {
    background-position: -903px -625px;
}

.trebol-5:hover {
    background-position: -903px -940px;
}

/*seis*/

.corazon-6:hover {
    background-position: -1124px 0;
}

.picas-6:hover {
    background-position: -1124px -310px;
}

.diamante-6:hover {
    background-position: -1124px -625px;
}

.trebol-6:hover {
    background-position: -1124px -940px;
}

/*siete*/

.corazon-7:hover {
    background-position: -1348px 0;
}

.picas-7:hover {
    background-position: -1348px -310px;
}

.diamante-7:hover {
    background-position: -1348px -625px;
}

.trebol-7:hover {
    background-position: -1348px -940px;
}

/*ocho*/

.corazon-8:hover {
    background-position: -1574px 0;
}

.picas-8:hover {
    background-position: -1574px -310px;
}

.diamante-8:hover {
    background-position: -1574px -625px;
}

.trebol-8:hover {
    background-position: -1574px -940px;
}

/*nueve*/

.corazon-9:hover {
    background-position: -1800px 0;
}

.picas-9:hover {
    background-position: -1800px -310px;
}

.diamante-9:hover {
    background-position: -1800px -625px;
}

.trebol-9:hover {
    background-position: -1800px -940px;
}

/*diez*/

.corazon-10:hover {
    background-position: -2028px 0;
}

.picas-10:hover {
    background-position: -2028px -310px;
}

.diamante-10:hover {
    background-position: -2028px -625px;
}

.trebol-10:hover {
    background-position: -2028px -940px;
}

/*J*/

.corazon-11:hover {
    background-position: -2250px 0;
}

.picas-11:hover {
    background-position: -2250px -310px;
}

.diamante-11:hover {
    background-position: -2250px -625px;
}

.trebol-11:hover {
    background-position: -2250px -940px;
}

/*Q*/

.corazon-12:hover {
    background-position: -2475px 0;
}

.picas-12:hover {
    background-position: -2475px -310px;
}

.diamante-12:hover {
    background-position: -2475px -625px;
}

.trebol-12:hover {
    background-position: -2475px -940px;
}

/*K*/

.corazon-13:hover {
    background-position: -2700px 0;
}

.picas-13:hover {
    background-position: -2700px -310px;
}

.diamante-13:hover {
    background-position: -2700px -625px;
}

.trebol-13:hover {
    background-position: -2700px -940px;
}
